# DACON Basic 여행 상품 분석 시각화 경진대회

### 라이브러리

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Data Load

In [2]:
df = pd.read_csv("./train.csv")

df.head()

,id,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome,ProdTaken
0,1,28.0,Company Invited,1,10.0,Small Business,Male,3,4.0,Basic,3.0,Married,3.0,0,1,0,1.0,Executive,20384.0,0
1,2,34.0,Self Enquiry,3,NaN,Small Business,Female,2,4.0,Deluxe,4.0,Single,1.0,1,5,1,0.0,Manager,19599.0,1
2,3,45.0,Company Invited,1,NaN,Salaried,Male,2,3.0,Deluxe,4.0,Married,2.0,0,4,1,0.0,Manager,NaN,0
3,4,29.0,Company Invited,1,7.0,Small Business,Male,3,5.0,Basic,4.0,Married,3.0,0,4,0,1.0,Executive,21274.0,1
4,5,42.0,Self Enquiry,3,6.0,Salaried,Male,2,3.0,Deluxe,3.0,Divorced,2.0,0,3,1,0.0,Manager,19907.0,0

- id : 샘플 아이디
- Age : 나이
- TypeofContact : 고객의 제품 인지 방법 (회사의 홍보 or 스스로 검색)
- CityTier : 주거 중인 도시의 등급. (인구, 시설, 생활 수준 기준) (1등급 > 2등급 > 3등급)
- DurationOfPitch : 영업 사원이 고객에게 제공하는 프레젠테이션 기간
- Occupation : 직업
- Gender : 성별
- NumberOfPersonVisiting : 고객과 함께 여행을 계획 중인 총 인원
- NumberOfFollowups : 영업 사원의 프레젠테이션 후 이루어진 후속 조치 수
- ProductPitched : 영업 사원이 제시한 상품
- PreferredPropertyStar : 선호 호텔 숙박업소 등급
- MaritalStatus : 결혼여부
- NumberOfTrips : 평균 연간 여행 횟수
- Passport : 여권 보유 여부 (0: 없음, 1: 있음)
- PitchSatisfactionScore : 영업 사원의 프레젠테이션 만족도
- OwnCar : 자동차 보유 여부 (0: 없음, 1: 있음)
- NumberOfChildrenVisiting : 함께 여행을 계획 중인 5세 미만의 어린이 수
- Designation : (직업의) 직급
- MonthlyIncome : 월 급여
- ProdTaken : 여행 패키지 신청 여부 (0: 신청 안 함, 1: 신청함)

`id`는 버림

In [3]:
df.drop(columns=["id"], inplace=True)

### Age: 나이

### TypeofContact: 인지 방법

### CityTier: 주거 중인 도시 등급

### DurationOfPitch: 고객에게 제공하는 프레젠테이션 기간

### Gender: 성별

### NumberOfPersonVisiting: 고객과 함께 여행을 계획 중인 총 인원

### NumberOfFollowups: 영업 사원의 프레젠테이션 후 이루어진 후속 조치 수

### ProductPitched: 영업 사원이 제시한 상품

### PreferredPropertyStar: 선호 호텔 숙박업소 등급

### MaritalStatus: 결혼여부

### NumberOfTrips: 평균 연간 여행 횟수

### Passport: 여권 보유 여부 (0: 없음, 1: 있음)

### PitchSatisfactionScore : 영업 사원의 프레젠테이션 만족도

### OwnCar: 자동차 보유 여부 (0: 없음, 1: 있음)

### NumberOfChildrenVisiting: 함께 여행을 계획 중인 5세 미만의 어린이 수

### Designation: (직업의) 직급

### MonthlyIncome: 월 급여

### ProdTaken: 여행 패키지 신청 여부 (0: 신청 안 함, 1: 신청함)

### 상관 관계로 본 시각화